*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
                               /* header style */
.main-header{
  width: 100%;
  height: 100vh;
  text-align: center;
  
}

.bg-img{
  background-image:  linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.785)), url(images/donation3.jpg);
  filter: blur(3px);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.header-text{
  position: absolute;
  top: 200px;
  left: 170px;
}

.header-text h1{
  font-size: 60px;
  color: white;
  font-weight: bold;
  margin-bottom: 35px;
}

.header-text p{
  font-size: 18px;
  color: rgb(255, 250, 250);
  margin-bottom: 35px;
  font-weight: bold;
}

.top-button{
  width: 150px;
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  background-image: linear-gradient(rgb(255, 201, 101),rgb(255, 47, 11));
  cursor: pointer;
}

.top-button:hover{
  color: gray;
  box-shadow: 10px 10px 40px gray;
}

                        /* Donate today section style  */

.donate-today{
  height: 100vh;
  width: 100%;
  text-align: center;
}                       

.amount{
  display: flex;
  justify-content: center;
}

.amount-card{
  width: 120px;
  height: 120px;
  margin: 0 10px;
  font-size: 35px;
  color: gray;
  font-weight: bold;
  padding-top: 38px;
  background-color:rgb(240, 240, 250) ;
  border-radius: 10px;
}

.default{
  border: 2px solid tomato;
  background-color:  rgb(253, 229, 225);
  color: tomato;
}

h2{
  padding-top: 100px;
  font-size: 50px;
}

.donate-today p{
  font-size: 22px;
  color: gray;
  margin-bottom: 50px;
  font-weight: 100;
  margin-top: 30px;
}

.number-input{
  margin-top: 50px;
  margin-bottom: 40px;
  width: 685px;
  height: 50px;
  border: none;
  border-bottom: 1px solid gray;
  text-align: center;
  font-size: 18px;
}

                          /* Our Donation Plan section */

.donation-plan{
  text-align: center;
}

.donation-plan p{
  font-size: 20px;
  color: gray;
  margin-bottom: 50px;
  font-weight: 100;
  margin-top: 30px;
}

.card-container{
  display: flex;
  justify-content: center;
}

.card{
  width: 340px;
  height: 340px;
  margin: 0 10px;
  border-radius: 10px;
  text-align: left;
  padding: 45px 20px 30px 35px;
}

.card h3{
  margin-top: 23px;
  font-size: 25px;
}

#card1{
  background-color: #e2fdffdf;
}

#card2{
  background-color: #fde3e3e3;
}

#card3{
  background-color: #fff4d6d8 ;
}

                    /* Their lives depend on your donation */

.their-lives{
  display: flex;
  margin: 150px 150px 100px 150px;
}

.lives-text{
  width: 50%;
  height: 525px;
  padding-right: 50px;
}

.lives-text p{
  font-size: 20px;
  color: gray;
  margin-bottom: 20px;
  font-weight: 100;
  margin-top: 20px;
}

.lives-text h2{
  padding-top: 40px;
}

.lives-image{
  width: 50%;
}

.lives-image img{
  width: 100%;
  height: 450px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px black;
}

.second-button{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  background-image: linear-gradient(rgb(255, 201, 101),rgb(255, 47, 11));

}

.second-button:hover{
  color: gray;
  box-shadow: 15px 15px 30px gray;
}

                           /* They need us to suvive */

.they-need-us{
  margin-top: 10px;
}    

.their-text{
  width: 50%;
  height: 525px;
  padding-left: 60px;
}